body{
    font-family: Arial, Helvetica, sans-serif;
}

.box1, .box2{
    border: 2px solid #444;
    padding : 10px;
}

.box1{
    margin-bottom: 40px;
}

.box2{
    margin-top: 50px;
}
/* here 
        it will not give 90px space between them instead
        it will choose margin with higher value and apply it
        so only 50px margin will br thier bcz 50 >> 40 */