.container
{
    /* border: 1px solid black; */
    /* margin: 0 20px 0 20px; */
    padding: 0 30px;
}

a{
    text-decoration: none;
    list-style-type: none;
    border-bottom: 1px solid black;
}

h2
{
    border-bottom: 1px solid black;
}

.nav
{
    background: #f0ebeb;
    text-align: center;
}
.nav ul
{
    padding-left : 0px;
    text-align: center;

}
ul li{
    display:inline-block;
    margin: 0 20px;
    padding: 20px 0 ; 
}